<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学習ロードマップ生成</title>

     <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;600&family=Syne:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
</head>
</head>
<body>
    <div class="container">
        <h1>学習ロードマップを生成</h1>
        <p>タグで記事を検索して、AIがあなた専用のカリキュラムを作成します。</p>
        <br> 
    <section class="upload-section">
        <form action="surch" method="post">
            <p>検索タグ（最大５つ）</p>
            <div class="text-area"><input type="text" name="tag" class="tag_form" value="タグを入力してEnter(例:Python)"></div>
            <p>学習の目標や要望</p>
            <input type="text" name="request_message" class="request_mes">
        <button type="submit" class="submit_btn" id="submit_btn">
            ✉︎Send
        </button>
        </form>
    </section>
    {% if output %}
        <pre>{{ output }}</pre>
    {% endif %}
    </div>
</body>
</html>