.section1 {
    margin-top: 20px;
}

.tag_form {
    width: 90%;
    padding: 20px;
    border-radius: 12px;
}

.section2 {
    margin-top: 20px;
}
.request_mes{
    width: 90%;
    padding: 20px;
    border-radius: 12px;
}

.submit_btn {
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin-top: 16px;

}